NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_TIMEZONE=Asia/Manila

SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=

MESSENGER_PAGE_ACCESS_TOKEN=
MESSENGER_VERIFY_TOKEN=
MESSENGER_APP_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=

CRON_SECRET=
